


md-list
  md-list-item
    md-button(ng-click='gotoContent()') Content
  md-list-item
    md-button(ng-click='gotoTypes()') Types
  md-list-item
    md-button(ng-click='gotoUsers()') Users
  md-list-item
    md-button(ng-click='logout()') Logout


