


md-list
  md-list-item(ng-click='gotoContent()') Content
  md-list-item(ng-click='gotoTypes()') Types
  md-list-item(ng-click='gotoUsers()') TODO Users
  md-list-item(ng-click='gotoSystem()') TODO System
  md-list-item(ng-click='logout()') Logout



