node_modules
public
.tmp
.idea
server
client
e2e
npm-debug.log
coverage


!dist
!dist/*
!dist/server
!dist/client


mocha.conf.js
protractor.conf.js
karma.conf.js
bower.json
.yo-rc
.travis.yml
.jscsrc
.bowerrc
.editorconfig
Gruntfile.js
