



md-list
  md-list-item(ng-repeat='menuItem in menuItems track by $index')
    md-button(ng-class='{"md-primary": isMenuActive(menuItem)}', ng-click='openMenu($event, menuItem)') {{getMenuDisplay(menuItem)}}
