

md-content.admin-bottom-container.admin-content-list

  h2.underline Select a Content type

  loader-svg.state-loader.bottom-loader(loader-admin='', ng-class='{"is-loaded": !! isLoaded}')

  md-list.admin-content-list.admin-fade-in-on-loaded(ng-class='{"is-loaded": !! isLoaded}')
    md-list-item(ng-repeat='model in models track by $index')
      md-button(ng-click='openModel(model)') {{getModelLabel(model)}}


