

md-content.admin-bottom-container

  h1 Api Introduction

  md-list.md-primary
    md-list-item.introduction-list-item(ng-click='showAllContent()')
      h3 Get all the content bundled into one payload
      pre.md-primary {{getAllContentUrl()}}

  pre.pre-payload.ng-hide(ng-hide='! allContent || isHideAllContent') {{allContent | json}}



