

md-content.admin-bottom-container

  h2 Api intro

  md-list.md-primary
    md-list-item.introduction-list-item(ng-click='showAllContent()')
      h3 Get all content bundled into one payload
      pre.md-primary GET | {{getAllContentUrl()}}

  pre.pre-payload.ng-hide(ng-hide='! allContent || isHideAllContent') {{allContent | json}}


  h2.margin-top-50 Example site

  iframe(width="100%" height="300" src="//jsfiddle.net/Kauabunga/69z2wepo/27741/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0")
