

.admin-top-header.item-admin-top
  .admin-top-container(ng-cloak='')
    h1
      span.item-type-title {{::getItemIdDisplay(itemTitle)}}&nbsp;
      | Content Item
      span.is-dirty-label.md-warn.ng-hide(ng-show='isDirty && form.$dirty') &nbsp;Edited
    h2
      span.ng-hide(ng-hide='hideItemId', ng-if='itemType !== itemId') ID | {{::getItemIdDisplay(itemId)}}



  .admin-top-container.align-right.item-actions-container
    md-button.publish-button.loading-button.md-raised.md-primary(id='publish-item-button', ng-hide='isCreateItem()', ng-click='save($event, itemModel)')
      span(ng-hide='isPublishing') Publish
      loader-svg.loading-button-svg.ng-hide(ng-show='isPublishing')

    md-button.md-raised(id='show-history-button', ng-hide='isCreateItem()', ng-click='showHistory($event, itemModel)') History
    md-button.md-raised.loading-button.md-primary(id='create-item-button', ng-show='isCreateItem()', ng-click='create(itemModel)')
      span(ng-hide='isCreating') Create
      loader-svg.loading-button-svg.ng-hide(ng-show='isCreating')

    md-button.md-raised.loading-button.md-warn(id='delete-item-button', ng-show='canDeleteItem && ! isCreateItem()', ng-click='deleteItem($event, itemModel)')
      span(ng-hide='isDeleting') Delete
      loader-svg.loading-button-svg.ng-hide(ng-show='isDeleting')


  //TODO move into generic directive container
  loader-svg.state-loader(loader-admin='', ng-class='{"is-loaded": !! isLoaded}')


md-content.admin-bottom-container.item-admin-content

  formly-form.admin-form.admin-fade-in-on-loaded(fields='formlyFields', model='itemModel', form='form', ng-class='{"is-loaded": !! isLoaded}')



