

.list-admin-top.admin-top-header
  .admin-top-container.admin-fade-in-on-loaded(ng-class='{"is-loaded": !! isLoaded}')
    h1(ng-cloak='') Select a {{::getListIdDisplay(listTitle)}}

  .admin-top-container.align-right.list-admin-actions-container.admin-fade-in-on-loaded(ng-class='{"is-loaded": !! isLoaded}')
    .list-admin-button-container(ng-cloak='')
      md-button.md-raised.md-primary(id='create-{{::listType}}', ng-show='canCreate', ng-click='createItem()') Create {{::listTitle}}

  loader-svg.state-loader(loader-admin='', ng-class='{"is-loaded": !! isLoaded}')



md-content.admin-bottom-container.list-admin-content
  .list-admin-filter-container.admin-fade-in-on-loaded(ng-class='{"is-loaded": !! isLoaded}')
    md-input-container.filter-list-text
      label
        search-svg
        | Search for a {{::getListIdDisplay(listTitle)}}
      input(ng-model='filterText', id='filter-list-input')

  md-list.admin-list.admin-fade-in-on-loaded(ng-class='{"is-loaded": !! isLoaded}')
    md-list-item.list-label-row(ng-hide='list.length === 0')
      span(ng-repeat='label in listColumns track by $index', flex='{{(100 / listColumns.length).floor()}}') {{::getPrettyLabel(label)}}
    md-list-item(ng-repeat='item in filteredList = ( list | filter:filterList:filterText)', aria-label='{{item.id}}', ng-click='openListItem(item)')
      span(ng-repeat='label in listColumns track by $index', flex='{{(100 / listColumns.length).floor()}}', ng-bind-html='::getRenderedColumnValue(item, label)')

    h4.no-results(ng-show='list.length !== 0 && filteredList.length === 0') The filter "{{filterText}}" doesn't match any items.
    h4.no-results(ng-show='list.length === 0') There isn't anything here.
      br
      md-button.md-raised.md-primary(id='create-{{::listType}}', ng-show='canCreate', ng-click='createItem()') Create {{::listTitle}}







