


.list-admin-content {
  background-color: inherit;

  //Let the filter container handle the top margin so the label can overflow
  margin-top: 5px;
}


.list-label-row {
  font-weight: 700;
}


.list-admin-filter-container {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 35px;

  letter-spacing: -0.08rem;

  md-input-container.md-input-focused {
    label svg {
      fill: @primary-blue;
    }
  }

  label svg {
    fill: rgba(0,0,0,0.26);
  }
}


loader-svg.state-loader{
  opacity: 1;
  transition: opacity 200ms ease;
  &.is-loaded {
    opacity: 0;
  }
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  left: 50%;
  top: 280px;
  z-index: 100;
  svg {
    height: 60px;
    width: 60px;
  }
}

