


.admin-bottom-container.home-page-container
  h1 Content made easy.

  h3 Javascript Content API Library. Built ontop of Express.


  a.github-link(analytics-event='Github link', href='https://github.com/Kauabunga/cmeasy')
    github-svg

  a.npm-link(analytics-event='Npm link', href='https://github.com/Kauabunga/cmeasy')
    npm-svg


  h3 Version {{::version}}


  admin-api-display.margin-top-120
