@background-top-header: @dark-grey;




.admin-fade-in-on-loaded {
  opacity: 0;
  transition: opacity 200ms ease;
  &.is-loaded {
    opacity: 1;
  }
}


.admin-top-header {
  background-color: @background-top-header;
  width: 100%;

  position: relative;
  padding: 30px 0;

  h1 {
    color: @almost-white;
  }

  display: flex;

  .admin-top-container {

    margin: 0 20px;
    align-self: center;

    &.align-right {
      margin-left: auto;
    }

  }

}


.admin-bottom-container {
  margin: 30px 20px;
}
