


admin-menu {

  form {
    width: 90%;
    margin-left: 5%;
  }


  button.md-button.md-raised.login-button,
  .md-button.md-raised:not([disabled]) {
    background-color: #999;

    margin-bottom: 10px;

    color: white;
    &:hover {background-color: lighten(#999, 4%);}
  }


}
