


admin-menu {


  button.login-button.md-button.md-raised,
  .login-button.md-button.md-raised:not([disabled]) {

    margin-bottom: 10px;

    background-color: #666;
    color: white;
    &:hover {background-color: lighten(#666, 4%);}
  }


}
