

md-sidenav.admin-left-sidenav(md-component-id='admin-left-nav', md-is-locked-open="$mdMedia('min-width: 992px')", ng-swipe-left='closeAdminNav()')

  md-content

    md-tabs(md-selected='menuIndex', md-dynamic-height)
      md-tab(label='login')
        admin-login

      md-tab(label='1st menu')
        admin-menu-main

      md-tab(label='2nd menu')
        admin-menu-content

