
//TODO move to login

.admin-login {
  md-sidenav {
    background-color: @background-color-admin-menu-login;
  }
  md-input-container .md-input {
    color: @almost-white;
    border-color: @almost-white;
  }
  label {
    color: @almost-white;
  }

  //Admin valid input label
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value {
    label {
      color: @primary-blue;
    }

    input {
      border-color: @primary-blue;
    }

  }




}







//TODO Start admin-menu






md-sidenav {

  justify-content: center;

  transition: background-color @transition-speed-slow @transition-ease;

  @media(min-width: @desktop-min){
    background-color: transparent;
  }
}


admin-menu.admin-menu {
  flex-shrink: 0;

  md-tabs-wrapper {
    display: none;
  }

  display: flex;
  position: relative;
  height: 100%;

  md-content {
    width: 100%;
  }

  md-list-item {
    flex-direction: column;
    button.md-button {
      min-height: 48px;
      font-weight: 700;
    }
  }

  md-content.admin-menu-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  button.md-button {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
