

md-content.admin-menu-container
  md-tabs(md-selected='menuIndex', md-dynamic-height)
    md-tab(label='Login')
      admin-login

    md-tab(label='Main')
      admin-menu-main(menu-items='menuItems')

    md-tab(label='Content')
      md-list
        md-list-item
          md-button.back-button.md-accent(ng-click='goContent($event)') Back
      admin-menu-content(menu-items='menuItems')

    md-tab(label='Types')

      md-list
        md-list-item
          md-button.back-button.md-accent(ng-click='goTypes($event)') Back
      admin-menu-types(menu-items='menuItems')
