


admin-menu.admin-menu {
  flex-shrink: 0;

  md-tabs-wrapper {
    display: none;
  }

  display: flex;
  position: relative;
  height: 100%;
  align-items: center;

  md-content {
    width: 100%;
  }

  md-list-item {
    flex-direction: column;
    button.md-button {
      min-height: 48px;
      font-weight: 700;
    }
  }

  md-sidenav,
  md-content{
    background-color: transparent;
  }

  button.md-button {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
